.root {
     -fx-background-image: url("../img/textures/parchment_light.jpg");
     -fx-display: block;
}

#page-title {
	-fx-font-size: 32px;
	-fx-font-family: "Arial Black";
	-fx-fill: #818181;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#rollName {
	-fx-font-size: 32px;
	-fx-font-family: "Arial Black";
	-fx-fill: #818181;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#vbox-result {
	-fx-border-width: 2px;
	-fx-border-inset: 5px;
	-fx-border-color: #4d2600;
	-fx-background-radius: 5;
	-fx-background-image: url("../img/textures/parchment_white.jpg");
	-fx-shape: "M5 0 L95 0 L100 5 L100 195 L95 200 L5 200 L0 195 L0 5 L5 0 Z";
    -fx-scale-shape: true;
}

#vbox-ticker {
	-fx-border-width: 2px;
	-fx-border-inset: 5px;
	-fx-border-color: #4d2600;
	-fx-background-radius: 5;
	-fx-background-image: url("../img/textures/parchment_white.jpg");
	-fx-shape: "M5 0 L295 0 L300 5 L300 160 L295 165 L5 165 L0 160 L0 5 L5 0 Z";
    -fx-scale-shape: false;
}

.die {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-text-alignment: center;
}

.die .button {
	-fx-background-size: 75 75;
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.die .button:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#dice-d4 {
	-fx-background-image: url("../img/D4.png");
}

#dice-d6 {
	-fx-background-image: url("../img/D6.png");
}

#dice-d8 {
	-fx-background-image: url("../img/D8.png");
}

#dice-d10 {
	-fx-background-image: url("../img/D10.png");
}

#dice-d12 {
	-fx-background-image: url("../img/D12.png");
}

#dice-d20 {
	-fx-background-image: url("../img/D20.png");
}